.App {
  text-align: center;
}

:root {
  --g1: rgb(60, 186, 146);
  --g2: rgb(114, 175, 211);
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }
  
  to {
    background-position: -200% center;
  }
}

body {
  animation: background-pan 10s linear infinite;
  background: linear-gradient(
    45deg,
    var(--g1),
    var(--g2),
    var(--g1)
  );
  background-size: 200%;
  height: 100vh;
  overflow: hidden;
  margin: 0px;
}

body.toggled {
  animation: none;
}

body.toggled > #tiles > .tile:hover {
  opacity: 0.1 !important;
}

.centered {
  left: 62%;
  position: absolute;
  top: 10%;
  transform: translate(-50%, -50%);
}

#tiles {
  height: calc(100vh);
  width: calc(100vw);
  position: relative;
  z-index: 2;
  
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
}

.tile {
  cursor: pointer;
  position: relative;
}

.tile:hover:before {
  background-color: rgb(30, 30, 30);
}

.tile:before {
  background-color: rgb(15, 15, 15);
  content: "";
  inset: 0px;
  position: absolute;
}

#title {
  position: center;
  color: white;
  font-family: "Rubik", sans-serif;
  font-size: 3vw;
  width: 50vw;
  z-index: 3;
}

#space{
  font-family: "Montserrat", sans-serif;
  align-items: center;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  max-width: 480px;
  min-height: 40px;
  padding: 20px;
  z-index: 3;
}
#space2{
  font-family: "Montserrat", sans-serif;
  align-items: center;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  max-width: 480px;
  min-height: 40px;
  padding: 20px;
  z-index: 3;
}

.btn{
  font-family: "Montserrat", sans-serif;
  align-items: center;
  background-color: rgb(60, 186, 146);
  border-width: 0px;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  max-width: 480px;
  min-height: 40px;
  padding: 20px;
}
.btn:hover {
  background: rgb(114, 175, 211);
  transition: all 0.2s ease-in-out;
  color: #ffffff;
}

.centered-btn {
  left: 50%;
  position: absolute;
  top: 20%;
  transform: translate(-50%, -50%);
}
.centered-btn2 {
  left: 50%;
  position: absolute;
  top: 70%;
  transform: translate(-50%, -50%);
}